@page "/"
@using System.Text.Json
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>DONDE ESTA LA BIBLIOTECA!!!</PageTitle>

@* <button @onclick="ShowPopup">Popup</button> *@

<div class="mainDiv">
	<div class="inputDiv">
		<div class="smallContainer">
			<h2>Upload content!</h2>
			<p>Paste your document contents in the box on the right to translate!</p>
			<label for="docName">Document name:</label>
			<input type="text" id="docName" name="docName" class="textInput" @bind-value="newDocumentName">

			<label for="inputLanguage"> Select input langauge:</label>
			<select id="inputLanguage" name="inputLanguage" @bind="inputLanguage" @bind:event="onchange">
				@foreach(var l in languages)
				{
					<option value=@l.LanguageID>@l.Language</option>
				}
			</select>

			<label for="outputLanguage"> Select output langauge:</label>
			<select id="outputLanguage" name="outputLanguage" @bind="outputLanguage" @bind:event="onchange">
				@foreach(var l in languages)
				{
					<option value=@l.LanguageID>@l.Language</option>
				}
			</select>

			<p></p>
			<button @onclick="UploadDocument">Upload!</button>
		</div>

		<div class="smallContainer">
			<h2>View a file!</h2>
			<label> Select the file you want to view:</label>
			<select name="userFile" @bind="documentName" @bind:event="onchange">
				@foreach(var currDocName in documentNames)
				{
					<option value=@currDocName>@currDocName</option>
				}
			</select>
			<button @onclick="ViewFile">View file</button>
		</div>
	</div>

	<div class="viewDiv">
		<h4>File Content:</h4>
		<textarea class="inputContent" @bind="fileContent" @bind:event="oninput" />
	</div>
</div>

@if(showPopup)
{
	<div class="popup-overlay" @onclick="ClosePopup">
		<div class="popup">
			<div class="popup-content">
				<p>@this.messageInfo</p>
			</div>
		</div>
	</div>
}


@code {
	bool showPopup = false;

	void ShowPopup()
	{
		showPopup = true;
	}

	void ClosePopup()
	{
		showPopup = false;
	}
}